.topStats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: .75rem;
}

.recentBookings {
  display: none;

  @media (width >= 900px ) {
    display: block;
  }
}