.eventsContainer {
  width: 100%;
}

.eventsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--headline-color);
    margin: 0;
  }

  div {
    cursor: pointer;
  }
}

.eventGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: .75rem;
  justify-content: center;

  @media (width >= 1400px) {
    justify-content: start;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  color: var(--text-muted-color);
  font-size: 16px;
}