.logo {
  display: flex;
  h2 {
    margin-left: 1rem;
    font-weight: 400;
  }
}

.navLinks {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 2rem;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--link-color);
    font-size: 14px;
    font-weight: 600;
    position: relative;
  }

  a[class="active"]{
    color: var(--link-active-color);

    &::before {
      content: '';
      height: 30px;
      width: 4px;
      background-color: var(--primary-90);
      position: absolute;
      left: -24px;
      border-radius: 0 12px 12px 0;
    }
  }
}

.linkActive {
  color: var(--link-active-color);
}

.iconSpan {
  margin-right: 1rem;
  
  svg {
    vertical-align: bottom;
  }
}